/* BigPicture - CSS
 * Martin Haidn
 * 2014-05-09
*/


body {
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#wrapper {
	width: 60%;
	margin: auto;
}

#menu {
	position: relative;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
}

#menu-left {
	position: relative;
	float: left;
	width: 75%;
	color: #ffffff;
}

#menu-right {
	float: right;
	width: 25%;
	text-align: right;
}

#content {
	border: 1px solid grey;
}

#content-left {

}

#calendar {
	position: boxed;
	padding: 5px;
	width: 70%;
}

#apointments {
	position: boxed;
	border: 1px  solid grey;
	height: 20%;

	font-family: Arial, Verdana;
	text-align: left;


}

#content-right {
	position: relative;
	float: right;
}

/* menu link behaviour */

a.menu:link {
	text-decoration: none;
	color: #058ec7;
}

a.menu:active {
	color: #058ec7;
}

a.menu:visited {
	color: #058ec7;
}

a.menu:hover {
	color: #ffffff;
}

/* lightbox effect */

#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.80;
    filter: alpha(opacity=70);
}
#light{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 400px;
    margin-left: -275px;
    margin-top: -200px;                 
    padding: 10px;
    background: #fff;
    z-index:1002;
    overflow:visible;
}

