/* BigPicture - CSS
 * Martin Haidn
 * 2014-05-09
*/


body {
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		background: url(../img/bg.jpg);
}

#wrapper {
	width: 60%;
	background: #ffffff;
	margin: auto;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(173, 205, 255, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(173, 205, 255, .75);
	box-shadow: 0px 0px 15px 5px rgba(173, 205, 255, .75);
}

#menu {
	position: relative;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
}

#menu-left {
	position: relative;
	float: left;
	width: 75%;
	color: #ffffff;
}

#menu-right {
	float: right;
	width: 25%;
	text-align: right;
}

#content {
	border: 1px solid grey;
}

#content-left {

}

#calendar {
	position: boxed;
	padding: 5px;
	width: 70%;
}

#apointments {
	position: boxed;
	border: 1px  solid grey;
	height: 20%;

	font-family: Arial, Verdana;
	text-align: left;


}

#content-right {
	position: relative;
	float: right;
}

/* Event-Frame */

#e-header {
	background: #368EB2;
	color: #ffffff;
	font-size: 18px;
	padding: 5px;
	font-weight: bold;
}

#e-content {
	margin-top: 10px;
}

textarea {
   resize: none;
   font-size: 12px;
   font-family: Arial, Helvetica;
}

/* menu link behaviour */

a.menu:link {
	text-decoration: none;
	color: #058ec7;
}

a.menu:active {
	color: #058ec7;
}

a.menu:visited {
	color: #058ec7;
}

a.menu:hover {
	color: #ffffff;
}

/* Event view */

#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.80;
    filter: alpha(opacity=70);
}

#light{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 400px;
    margin-left: -275px;
    margin-top: -200px;                 
    padding: 10px;
    background: #fff;
    z-index:1002;
    overflow:visible;
}

/* Event view */

#hide{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1001;
    background: url(../img/bg.jpg);
}

#login{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 260px;
    height: 250px;
    margin-left: -130px;
    margin-top: -175px;                 
    background: blue;
    z-index:1002;
    overflow:visible;
}